# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4789373b9c0a165a3f57003d855e0980ce5a7d61e081309d84effd3e83ffc4e4ba70d2499680bd14cac5e8404a7e55c5a3fbc90ff16ac2e20155ec02e110a294

test:
  secret_key_base: 4c0c80dc4426b5ebccfc625db90237e29612cc889abe33c62dad2aef39c9f514d25243169c0899a2429fee5bd2f5868b8d60bd0b005154ec8312d5c7da59af8b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
