.locale-switcher.btn-group
  = active_link_to 'Русский', url_for(locale: :ru), class: 'btn btn-info', :active => session[:edit_locale] == 'ru'
  = active_link_to 'English', url_for(locale: :en), class: 'btn btn-info', :active => session[:edit_locale] == 'en'