
.bg-transparent {
  background-color: transparent!important;
}

.bg-white {
  background-color: #fdfdfe!important;
  border-color: #ececf5!important;
}

.bg-auto,.bg-gray-50 {
  background-color: #f2f5f8!important;
  border-color: #e1e8ef!important;
}

.bg-gray-100 {
  background-color: #dbdfe3!important;
  border-color: #cdd2d8!important;
}

.bg-gray-200 {
  background-color: #c4c9cf!important;
  border-color: #b6bcc4!important;
}

.bg-gray-300 {
  background-color: #adb4bb!important;
  border-color: #9fa7af!important;
}

.bg-gray-400 {
  background-color: #969ea7!important;
  border-color: #88919b!important;
}

.bg-gray-500 {
  background-color: #7f8992!important;
  border-color: #727c86!important;
}

.bg-gray-600 {
  background-color: #68737e!important;
  border-color: #5c6670!important;
}

.bg-gray-700 {
  background-color: #515e6a!important;
  border-color: #46515c!important;
}

.bg-gray-800 {
  background-color: #3a4856!important;
  border-color: #303b47!important;
}

.bg-gray-900 {
  background-color: #243342!important;
  border-color: #1b2632!important;
}

.bg-red-50 {
  background-color: #ffebee!important;
  border-color: #ffd1d8!important;
}

.bg-red-100 {
  background-color: #ffcdd2!important;
  border-color: #ffb3bb!important;
}

.bg-red-200 {
  background-color: #ef9a9a!important;
  border-color: #ec8484!important;
}

.bg-red-300 {
  background-color: #e57373!important;
  border-color: #e15d5d!important;
}

.bg-red-400 {
  background-color: #ef5350!important;
  border-color: #ed3c39!important;
}

.bg-red-500 {
  background-color: #f44336!important;
  border-color: #f32c1e!important;
}

.bg-red-600 {
  background-color: #e53935!important;
  border-color: #e2231e!important;
}

.bg-red-700 {
  background-color: #d32f2f!important;
  border-color: #c02929!important;
}

.bg-red-800 {
  background-color: #c62828!important;
  border-color: #b12424!important;
}

.bg-red-900 {
  background-color: #b71c1c!important;
  border-color: #a11919!important;
}

.bg-blue-50 {
  background-color: #e3f2fd!important;
  border-color: #cbe7fb!important;
}

.bg-blue-100 {
  background-color: #bbdefb!important;
  border-color: #a3d2fa!important;
}

.bg-blue-200 {
  background-color: #90caf9!important;
  border-color: #78bef8!important;
}

.bg-blue-300 {
  background-color: #64b5f6!important;
  border-color: #4ca9f5!important;
}

.bg-blue-400 {
  background-color: #42a5f5!important;
  border-color: #2a99f4!important;
}

.bg-blue-500 {
  background-color: #2196f3!important;
  border-color: #0d8aee!important;
}

.bg-blue-600 {
  background-color: #1e88e5!important;
  border-color: #187bd1!important;
}

.bg-blue-700 {
  background-color: #1976d2!important;
  border-color: #1669bb!important;
}

.bg-blue-800 {
  background-color: #1565c0!important;
  border-color: #1259a9!important;
}

.bg-blue-900 {
  background-color: #0d47a1!important;
  border-color: #0b3d89!important;
}

.bg-cyan-50 {
  background-color: #e0f7fa!important;
  border-color: #caf1f6!important;
}

.bg-cyan-100 {
  background-color: #b2ebf2!important;
  border-color: #9ce5ee!important;
}

.bg-cyan-200 {
  background-color: #80deea!important;
  border-color: #6ad8e6!important;
}

.bg-cyan-300 {
  background-color: #4dd0e1!important;
  border-color: #37cadd!important;
}

.bg-cyan-400 {
  background-color: #26c6da!important;
  border-color: #22b3c5!important;
}

.bg-cyan-500 {
  background-color: #00bcd4!important;
  border-color: #00a5bb!important;
}

.bg-cyan-600 {
  background-color: #00acc1!important;
  border-color: #0095a8!important;
}

.bg-cyan-700 {
  background-color: #0097a7!important;
  border-color: #00808e!important;
}

.bg-cyan-800 {
  background-color: #00838f!important;
  border-color: #006c76!important;
}

.bg-cyan-900 {
  background-color: #006064!important;
  border-color: #00484a!important;
}

.bg-green-50 {
  background-color: #e8f5e9!important;
  border-color: #d6edd8!important;
}

.bg-green-100 {
  background-color: #c8e6c9!important;
  border-color: #b6deb8!important;
}

.bg-green-200 {
  background-color: #a5d6a7!important;
  border-color: #93ce96!important;
}

.bg-green-300 {
  background-color: #81c784!important;
  border-color: #6fbf73!important;
}

.bg-green-400 {
  background-color: #66bb6a!important;
  border-color: #54b359!important;
}

.bg-green-500 {
  background-color: #4caf50!important;
  border-color: #449d48!important;
}

.bg-green-600 {
  background-color: #43a047!important;
  border-color: #3b8e3f!important;
}

.bg-green-700 {
  background-color: #388e3c!important;
  border-color: #317c34!important;
}

.bg-green-800 {
  background-color: #2e7d32!important;
  border-color: #276a2b!important;
}

.bg-green-900 {
  background-color: #1b5e20!important;
  border-color: #154a19!important;
}

.bg-yellow-50 {
  background-color: #fffde7!important;
  border-color: #fffbcd!important;
}

.bg-yellow-100 {
  background-color: #fff9c4!important;
  border-color: #fff6aa!important;
}

.bg-yellow-200 {
  background-color: #fff59d!important;
  border-color: #fff284!important;
}

.bg-yellow-300 {
  background-color: #fff176!important;
  border-color: #ffee5d!important;
}

.bg-yellow-400 {
  background-color: #ffee58!important;
  border-color: #ffeb3f!important;
}

.bg-yellow-500 {
  background-color: #ffeb3b!important;
  border-color: #ffe821!important;
}

.bg-yellow-600 {
  background-color: #fdd835!important;
  border-color: #fdd31c!important;
}

.bg-yellow-700 {
  background-color: #fbc02d!important;
  border-color: #fbb814!important;
}

.bg-yellow-800 {
  background-color: #f9a825!important;
  border-color: #f89e0c!important;
}

.bg-yellow-900 {
  background-color: #f57f17!important;
  border-color: #e8720a!important;
}